<body style="margin: 10px;">
<div style="width: 640px; font-family: Arial, Helvetica, sans-serif; font-size: 11px;">
<h2>Complete your registration</h2>

Thank you for registering on our <strong>web-Teck demo site</strong>.
<br /><br />

Please click the link below to verify your e-mail.<br />

Go to this <a href='[#siteMailURL]'>Confirmation Link</a>.
<br /><br /><br />
<div>Once you have complete your registration process, you can use this data for enter to the site:</div>
User login: <strong>[#userLogin]</strong><br />
Password:   <strong>[#userPass]</strong><br />
<br /><br />
Andrey & Ilia <br /><br />
</div>
</body>
